:root {
  --primary-color: #6184c6;
  --secondary-color: #FCA3B9;
  --accent-color: #FCD752;
  --background-color: #F6F4F9;
}

/* 共用樣式 class */
.bg-primary-custom {
  background-color: #e9e9e9 !important;
}

.bg-primary-custom-light {
  background-color: #b0bdd6 !important;
}

.bg-secondary-custom {
  background-color: var(--secondary-color) !important;
}

.text-primary-custom {
  color: var(--primary-color) !important;
}

.text-secondary-custom {
  color: var(--secondary-color) !important;
}

.bg-background-custom {
  background-color: #e9e9e9 !important;
}

.bg-background-custom-dark {
  background-color: var(--background-color) !important;
}

.bg-accent-custom {
  background-color: var(--accent-color) !important;
}